.BooksGrid {
  display: grid;
  grid-template-columns: 0.7fr 4.3fr;
  min-height: 57vh;
}
.BooksTitle {
  text-align: center;
  padding-top: 0.5em;
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .BooksGrid {
    grid-template-columns: 1fr;
  }
}
