

.book ul {
display: block;
position: relative;
width: 200px;
height: 300px;
margin: 0px;
padding: 0;
list-style: none;
perspective-origin: 0 50% 0;
perspective: 800px;
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}

.book ul > li {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 300px;
  padding: 0;
  margin: 0;
  transform-origin: 0 50%;
  transform-style: preserve-3d;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.25, 1);
}


/* Cover with image */
.cover {
  z-index: 2 !important;
  display: block;
  width: 200px;
  height: 300px;
  /* background-image: url("https://images.squarespace-cdn.com/content/v1/624da83e75ca872f189ffa42/aa45e942-f55d-432d-8217-17c7d98105ce/image001.jpg?format=1000w") !important; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateY(0deg) translateZ(0px);
}
/* Apply gradient background ONLY to pages, NOT the cover */
.page1, .page2, .page3 {
  background: linear-gradient(to right, #302f2f 0%, #beb8bd 90%, #ededed);
}

.cover {
 z-index: 2 !important;
 display: block;
 width: 200px; height: 300px;
 /* background:#333 !important; */
 transform: rotateY(0deg) translateZ(0px);
}
.page1 {
display: none;
transform: rotateY(20deg) translateZ(-1px);
}
.page2 {
display: none;
transform: rotateY(30deg) translateZ(-2px);
}
.page3 {
display: none;
transform: rotateY(40deg) translateZ(-3px);
}



.book:hover .page1 {
transform: rotateY(-34deg);
}

.book:hover .page2 {
transform: rotateY(-27deg);
}

.book:hover .page3 {
transform: rotateY(-15deg);
}

.book:hover .cover {
transform: rotateY(-40deg);
}